<div class="modal fade" id="confirmAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Todo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="add-form">
                <div class="modal-body">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                        <span style="color: red">*</span>
                      <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                        <span style="color: red">*</span>
                      <input type="text" class="form-control" id="description" name="description" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="deadline">Deadline</label>
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" id="datetime" name="deadline" required>
                        <!-- <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" id="datetime" name="deadline">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary me-2 px-3" type="submit">Confirm</button>
                    <button class="btn btn-light px-3" type="button" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
        </div>
    </div>
</div>


<script>
   $('#datetime').datetimepicker();
</script>