<div class="p-3">
    <select class="form-select filter-list" aria-label="Default select example">
        <option value="">Filter List</option>
        <option value="done">Done</option>
        <option value="up-coming">Upcoming</option>
    </select>
</div>