<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/page-header') %>
    <body class="rtl">
        <div class="page-wrapper compact-wrapper" id="pageWrapper">
            <%- include ('../partials/header')%>
            <div class="main">
                <%- include(innerPage) %>
            </div>
            <%- include ('../partials/footer') %>
        </div>
    </body>
    <script src="/assets/bundle.js"></script>
</html>
