<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <title>Todo Application</title>
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="shortcut icon" href="" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/icofont.min.css" />
    <link rel="stylesheet" href="/css/jquery.toast.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.toast.min.js"></script>
</head>
